{
  "presets": [
    "es2015", "es2016", "react"
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ],
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
