{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["babel", "react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/no-deprecated": 1
  }
}
