$default-font-size = 14px
$default-line-height = 1.78
$heading1-font-size = 30px
$heading2-font-size = 25px
$heading3-font-size = 20px
$heading4-font-size = 16px
$heading5-font-size = 14px
$heading-line-height = 1.5
$list-line-height = 2.14
$blockquote-border-left-color = rgba(#333, 0.08)
$toolbar-selected-background-color = rgba(#333, 0.08)
$toolbar-hover-background-color = rgba(#333, 0.04)

.rich-text-editor
  &.RichEditor-hidePlaceholder
    .public-DraftEditorPlaceholder-root
      display: none
  .public-DraftEditorPlaceholder-root
    color: rgba(#333, 0.1)
  .rich-text-editor-toolbar-button-insert-link
    position: relative
    z-index: 1
    display: inline-block
    &-input
      position: absolute
      width: 500px
      top: 24px
      z-index: 1
      display: none
      &.is-show
        display: block
    .insert-link-error-message
      display: none
      margin-left: 10px
      &.is-show
        display: inline-block
  .rich-text-editor-body
    color: #555
    font-size: 14px
    line-height: 1.5
    h1, h2, h3, h4, h5
      line-height: 1.5
      font-weight: normal
      color: #333
    h1
      font-size: $heading1-font-size
    h2
      font-size: $heading2-font-size
    h3
      font-size: $heading3-font-size
    h4
      font-size: $heading4-font-size
    h5
      font-size: $heading5-font-size
    ul, ol
      line-height: $list-line-height
    blockquote
      padding: 0px 15px
      margin: 25px 0
      font-size: 18px
      border-left: 2px solid $blockquote-border-left-color
      line-height: 1.5
    .checkable-list-item
      list-style: none
      transform: translateX(-1.5em)
    .checkable-list-item-body
      position: relative
    .checkable-list-item-checkbox
      position: absolute
      input
        width: 20px
        height: 20px
        border: 1px solid #d5cdcd
        background-color: white
        border-radius: 50%
        vertical-align: middle
        cursor: pointer
        &:checked
          border-color: #009cd6
          background-color: rgba(0, 174, 239, 0.8)
          &::before
            content: ""
            width: 6px
            height: 10px
            border-bottom: 2px solid #fff
            border-right: 2px solid #fff
            transform: rotate(45deg)
            top: 3px
            left: 6px
      &.is-checked + .checkable-list-item-text
        text-decoration: line-through
        color: #d6d6d6
    .checkable-list-item-text
      padding-left: 28px
    .iframe-placeholder
      -webkit-user-select: none
      user-select: none
  .rich-text-editor-toolbar
    position: relative;
    z-index: 2
    background-color: #ddd
    height: 35px
    padding: 5px 10px 0
    .rich-text-editor-toolbar-button
      margin: 0 8px
      cursor: pointer
    .rich-text-editor-toolbar-divider
      margin: 0 8px
      vertical-align: middle
      width: 1px
      height: 15px
      background-color: #fff
      display: inline-block
  .rich-text-editor-toolbar-button
    cursor: pointer
    margin-left: 10px
    vertical-align: middle
    display: inline-block
    &:first-child
      margin-left: 5px
    &.active
      .rich-editor-toolbar-button-inner
        background-color: $toolbar-selected-background-color
        .rich-editor-toolbar-button-icon
          opacity: 1
          color: #00aeef
      .dropdown-toggle
        opacity: 1
        color: #00aeef
    .rich-editor-toolbar-button-inner
      width: 24px
      height: 24px
      display: inline-block
      text-align: center
      border-radius: 3px
      &:hover
        background-color: $toolbar-hover-background-color
      &.width-auto
        width: auto
    .dropdown-toggle
      padding: 3px 4px 3px
      border: 0
      background: none
      opacity: .5
      .caret
        margin-left: 4px
      &.active, &:active
        box-shadow: none
    .open
      & > .dropdown-toggle
        color: inherit
    .dropdown-menu
      margin-top: 4px
      box-shadow: 0 0 2px #eee
      border: none
      .active
        & > a,
        & > a:hover,
        & > a:focus
          background-color: $toolbar-selected-background-color
          color: inherit
    .rich-editor-toolbar-headings
      .dropdown-menu
        li:nth-child(1) a
          font-size: $heading1-font-size
        li:nth-child(2) a
          font-size: $heading2-font-size
        li:nth-child(3) a
          font-size: $heading3-font-size
        li:nth-child(4) a
          font-size: $heading4-font-size
        li:nth-child(5) a
          font-size: $heading5-font-size
      .rich-editor-toolbar-headings-menu
        position: relative
        z-index: 1
      .rich-editor-toolbar-headings-remove
        position: absolute
        z-index: 1
        font-size: 12px
        display: inline-block
        border: 1px solid #aaa
        border-radius: 50%
        width: 14px
        height: 14px
        text-align: center
        line-height: 12px
        vertical-align: middle
        padding: 0 0 1px 1px
        color: #999
        top: 50%
        right: 6px
        transform: translateY(-50%)
    .rich-editor-toolbar-colors
      .dropdown-menu
        width: 160px
        li
          display: inline-block
          a
            padding: 3px 10px
  .rich-editor-toolbar-separate
    vertical-align: middle
    width: 1px
    height: 15px
    background-color: #ddd
    margin: 0 5px 0 20px
    display: inline-block
  .insert-link-wrapper
    cursor: pointer
    margin-left: 10px
    vertical-align: middle
    display: inline-block
    .rich-editor-toolbar-button
      margin-left: 0
  .rich-text-editor-toolbar-button-insert-link-input
    position: absolute
    width: 320px
    margin-top: 6px
    display: none
    &.is-open
      display: block
    &-error-message
      display: none
      &.show
        display: block
    .form-control
      display: inline-block
      width: 280px
  .DraftEditor-root
    height: 100%
    max-height: none
    min-height: 240px
    overflow: auto
    padding: 18px 10px
    position: relative
    z-index: 1
    cursor: text
    .link
      color: #00aeef
      text-decoration: underline
    a
      cursor: text
      &:hover,
      &:focus
        color: #00aeef
        text-decoration: none
  .public-DraftStyleDefault-ul:first-child,
  .public-DraftStyleDefault-ol:first-child,
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child
    margin-top: 0
